<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqyb.music.dao.DynamicMapper" >
  <resultMap id="BaseResultMap" type="com.cqyb.music.entity.Dynamic" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="znumber" property="znumber" jdbcType="INTEGER" />
    <result column="fnumber" property="fnumber" jdbcType="INTEGER" />
    <result column="pnumber" property="pnumber" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="file" property="file" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uid, znumber, fnumber, pnumber, comment, time, file
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqyb.music.entity.DynamicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_dynamic
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_dynamic
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqyb.music.entity.DynamicExample" >
    delete from t_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqyb.music.entity.Dynamic" >
    insert into t_dynamic (id, uid, znumber, 
      fnumber, pnumber, comment, 
      time, file)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{znumber,jdbcType=INTEGER}, 
      #{fnumber,jdbcType=INTEGER}, #{pnumber,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{file,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqyb.music.entity.Dynamic" >
    insert into t_dynamic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="znumber != null" >
        znumber,
      </if>
      <if test="fnumber != null" >
        fnumber,
      </if>
      <if test="pnumber != null" >
        pnumber,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="file != null" >
        file,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="znumber != null" >
        #{znumber,jdbcType=INTEGER},
      </if>
      <if test="fnumber != null" >
        #{fnumber,jdbcType=INTEGER},
      </if>
      <if test="pnumber != null" >
        #{pnumber,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="file != null" >
        #{file,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqyb.music.entity.DynamicExample" resultType="java.lang.Integer" >
    select count(*) from t_dynamic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_dynamic
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.znumber != null" >
        znumber = #{record.znumber,jdbcType=INTEGER},
      </if>
      <if test="record.fnumber != null" >
        fnumber = #{record.fnumber,jdbcType=INTEGER},
      </if>
      <if test="record.pnumber != null" >
        pnumber = #{record.pnumber,jdbcType=INTEGER},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.file != null" >
        file = #{record.file,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_dynamic
    set id = #{record.id,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=VARCHAR},
      znumber = #{record.znumber,jdbcType=INTEGER},
      fnumber = #{record.fnumber,jdbcType=INTEGER},
      pnumber = #{record.pnumber,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      file = #{record.file,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqyb.music.entity.Dynamic" >
    update t_dynamic
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="znumber != null" >
        znumber = #{znumber,jdbcType=INTEGER},
      </if>
      <if test="fnumber != null" >
        fnumber = #{fnumber,jdbcType=INTEGER},
      </if>
      <if test="pnumber != null" >
        pnumber = #{pnumber,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="file != null" >
        file = #{file,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqyb.music.entity.Dynamic" >
    update t_dynamic
    set uid = #{uid,jdbcType=VARCHAR},
      znumber = #{znumber,jdbcType=INTEGER},
      fnumber = #{fnumber,jdbcType=INTEGER},
      pnumber = #{pnumber,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      file = #{file,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>